<html>
    <head>
        <title>DThe order book</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The order book</a></h1>
        </div>

        <div>
            <p>published: 14.03.2017, 16:14</p>
            <h2><a href="">The highest asks</a></h2>
            <p>This section must consist of the highest section of the bids. Or the highest prices offered.</p>
        </div>

        <div>
            <p>published: 14.03.2017, 16:14</p>
            <h2><a href="">The highest buys</a></h2>
            <p>This section tells us the lowest amount of offers made to sell the currency.</p>
        </div>
    </body>
</html>